@media screen and (min-width: 1000px) {
    .navegacion {                     /* adaptacion menu navegación */
      input,
      span {
        display: none;
      }      

      ul {
        margin-top: -5px;
        //margin-right: ;
        position: static;
        background: transparent;
        height: auto;
        opacity: 1;
        
      }
      li {
        padding: 5px 10px;
        display: inline-block;        
        &:hover {
          background: transparent;
          border-bottom: 2px solid black;
        } 
      } 

      a {
        color: #060A24; 
        padding: 0;
        line-height: 1;
        &:hover {
          color: inherit;
        }
      }
    }    
    
    h2 {                             /* reset h2 margenes para desktop */
      margin-left: 10%;       
      font-size: 48px;    
    }      
      

    header {  
      margin-bottom: 4%;                      /* margenes navegacion*/
      margin-left: 10%;
      margin-right: 7%;
      padding-top: 16px;
      height: 80px;
      img {
        width: 36px;
        height: 36px;
        }          
      }    

      #titulo{
        text-align: start;
        h1{
          max-width: 100%;
          font-size: 60px;
          margin-left: 6%;
          margin-bottom: 1%;     
        }

        .parrafo_sub_titular {
        margin: 0;
        margin-left: 6%;
        margin-bottom: 6%;
        max-width: 50%;
         
        }
        a{
          margin-left: 6%;
        }
      }
 
    /* episodios desktop */

    section.epi {     
      padding-bottom: 200px;   
  
  }   
    
  

    .radios {  
      max-width: 100%;                 
      display: flex;  
      flex-wrap: wrap;     
      justify-content: center;
      justify-content: space-around;
     
      
    } 
    
    .ifr {             
      margin-bottom: 50px;
      width: 45%;
          }
    

    /* acomoda seccion nosotros */
          
    .telefono {
      margin-top: -80px;
      display: flex;
      align-items: center;
      justify-content: space-around;

    }
    
     .phone {     
      max-width: 40%;
     
      
    }
    .texto_nosotros {    
      padding-right: 40px;  
      max-width: 60%;      
      h2{
         margin-left: 0;
      }
    }
    
    /* acomoda seccion entrevistas */

    .mujeres {  
      display: flex;
      flex-wrap: wrap;     
    }
    li {
      display: flex;
      flex-basis: calc(100% / 3);
    
    }

    /* Acomoda seccion topicos */
    
    #topicos {

    .iconos {
      flex-basis: calc(100% / 4);
    }

    h2{
      padding-bottom: 40px;
    }
    
    .temas {
      display: flex;   
      justify-content: space-around;         
  }
  
  
} 



section.novedades {
  h2 {
    margin-left: 0;
  }
}

footer {
  margin-left: 5%;
  margin-right: 5%;
  flex-direction: row;
  justify-content: space-between;
  


   .copy {   
    margin: 0;
    padding: 0;
}

.sociales ul {         
    padding: 0;
    li{      
      margin-bottom: 0px;
  }  


   
}
}


}
