
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
 .copy {   
    margin-top: 30px;
 }   

.sociales {      
    ul {  
    padding: 0px;
    display:flex;     
   
    li{       
        text-align: center;
        padding: 5px 22px;        
    }
    a {
        color: black;
    }
    }
   
}