*,
 *:before,
 *:after {         
     box-sizing: border-box;                 
}             
:root {
    font-size: 16px;
}

 body {    
    margin: 0;
    padding: 0;   
    max-width: 100%;    
    font-family: 'IBM Plex Mono', monospace;            
}

ul {
    list-style: none;    
}

h2 {    
    font-family: 'IBM Plex Sans', sans-serif;    
    font-size: 2rem;    
    margin-left: 4%;    
}

@mixin botonstyles ($padding) {                     /*estilo gral botones*/ 
    background-color: hsl(166, 100%, 48%);            
    font-size: 0.875rem;  
    font-weight: bold;     
    text-decoration: none;   
    color:#060A24; 
    padding: $padding;
    }

@mixin bluediagonal {                               /*diagonal azul*/
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
    background:  linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    padding-top: 40px;
}