

#titulo {
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    h1 {      
    text-align: start;    
    width: 75%;
    margin: 0;    
    margin-bottom: 5%;    
    }

span.world {
    text-decoration: line-through;   
    }        

span.punto {
    color: blue;    
} 

/* parrafo sub titulo */
.parrafo_sub_titular1 {     
    text-align: start;   
    font-size: 0.875rem;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 50px;    
}  
.parrafo_sub_titular2{
    display: none;
} 

}