/* Seccion nosotros */

.telefono {
    .phone img {
       position: relative;
       width: 100%;
       z-index: 1;
       margin-top: -60px;
    }
    h2 {
        margin: 0px 0px 8px 0px;
        
        
    }
   
   p {         
       font-size: 14px; 
       line-height: 22px;
       margin:0 auto;
       letter-spacing: 0;
       margin-bottom: 14px;
   
   }
   }
   