/* Seccion nosotros */

.telefono {  
    margin-left: 4%;
    margin-right: 4%;

    .phone img {
       position: relative;
       max-width:100%;
       z-index: 1;
       margin-top: -60px;
    }    
   p {        
       //font-size: 0.875rem; 
       line-height: 22px; 
       margin-bottom: 14px;
   
   }
   }
   