/* Seccion nosotros */

.telefono {    
    .phone img {
       position: relative;
       width: 100%;
       z-index: 1;
       margin-top: -60px;
    }
    h2 {
        margin-left: 3%;
    
    }
   
   p {         
       margin-left: 4%;
       margin-right: 4%;
       font-size: 14px; 
       line-height: 22px; 
       margin-bottom: 14px;
   
   }
   }
   