section.novedades {  
    max-width: 100%;   
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);
    background:  linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
    padding-top: 40px;          
    padding-bottom: 80px;
    text-align: center;
    margin-top: 42px;  
         h2 {        
            color: #FFFFFF;          
            margin-bottom: 50px; 
            margin-left: 0;     
    }
}