
@media screen and (min-width: 500px) {  
    
    h1{
        font-size: 2.5rem;
    }
    
.telefono{   
    display: flex;     
    justify-content: space-around;

      .phone {
          max-width: 50%;
      }

      .texto_nosotros {  
        margin-top: -20px;         
        max-width: 40%;                    
        }
    }

    .mujeres {  
        display: flex;
        flex-wrap: wrap;     
      }
      li {
        display: flex;
        flex-basis: calc(100% / 2);
      
      }

    #topicos { 
        .temas {        
            display: flex;   
            flex-wrap: wrap;               
            justify-content: space-around;          
        }
        .iconos {
            padding-top: 40px;
            max-width: 40%;

        }
        h2 {
            text-align: center;
        }
    }

    footer {
        display: flex; 
        flex-direction: row;
        justify-content: space-around;
        align-items: center;

        .copy {   
            margin: 0;
            padding: 0;
                }    
    }
        
}   



